{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Selamat Datang </title>
    <link rel="stylesheet" type="text/css" href="{%static "css/style.css"%}">
    <link rel="stylesheet" type="text/css" href="{%static app_css%}">
</head>

<body>
    <img id="banner" src="{%static "about/img/banner_about.png" %}" alt="">
    <nav>
        <ul>
            <li><a href="/" title="">home</a></li>
            <li><a href="/blog/" title="">blog</a></li>
            <li><a href="/about/" title="">about</a></li>
        </ul>
    </nav>
    <h1>Selamat datang di website kami About</h1>
    <p>website ini dibuat dengan menggunakan Django</p>

   

</body>

</html>